/* @media only screen and (min-width:1440px) {
.container {
  width: 1200 px;
  margin: 35px;
  background-color: white;
  overflow: auto;
  }
}

 @media only screen and (max-width:600px) {
 
.container {
  width: 600 px;
  margin: 17px;
  background-color: rgb(194, 28, 28);
  overflow: auto;
}
}  */

@media (max-width: 700px) and (min-width: 500px) {
  .hr {
    width: 1140px;
  }
}
@media only screen and (min-width: 1080px) {
  .hr {
    width: 1400px;
  }
}

body {
  color: white;
  margin: 0px;
}

nav {
  width: 100%;
  overflow: auto;
  margin-left: 0px;
  background-color: black;
}

.text {
  color: black;
  margin-top: 15px;
  margin-left: 107px;
  margin-bottom: -15px;
  display: inline-block;
}

.layut {
  font-size: 30px;
  font-weight: 1000;
  color: aqua;
}
ul {
  margin: 10px;
  margin-left: 128px;
  list-style-type: none;
}

li {
  color: #777777;
  font-size: 15px;
  float: left;
  margin-left: -68px;
}

nav a {
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: left;
  background: black;
  font-size: 15px;
  padding: 10px 10px;
  color: #777777;
}

.container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  border-bottom: 1px solid;
  border-top: 1px solid #eeeeee;
  padding-top: 8px;
  margin-left: 110px;
  margin-right: 110px;
  background-color: white;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery {
  margin: 10px 0px;
  border: 1px black;
  float: left;
  width: 350px;
}
.gallery img {
  max-width: 350px;
  max-height: 234px;
}

.desp {
  font-family: djavue;
  padding: auto;
  text-align: left;
  margin-top: 1px;
  color: #3c81cf;
}

.desp h1 {
  font-size: 23px;
}

.desp p {
  color: black;
  margin-top: -10px;
}

.hr {
  width: 85%;
  margin-top: 25px;
  border-top: 1px #eeeeee;
}

.copyrt {
  margin-top: 25px;
  color: black;
  margin-left: 25px;
}
